.short__divider {
  height: 1px;
  width: 60px;
  background-color: white;
}

.short__divider_black {
  height: 1px;
  width: 60px;
  background-color: black;
}

.long__divider_black {
  height: 1px;
  width: 240px;
  background-color: black;
  margin-top: 60px;
}