
.last__title {
  padding: 60px 84px ;
}

.pleasure__title {
  font-family: Merienda;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.last__section {
  background-color: #fff;

}

.main__title {
  color: black;
  font-family: Merienda;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.about__goods__descr {
  color: black;
  font-family: Merienda;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.cup__of__coffee {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.about__goods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 89px;
}

.cards__coffee__wrapper {
  padding: 60px 571px 30px 571px;
}

